.body{
  background-color: black;
  background-size: contain;
  background-attachment: fixed;
  position: absolute;
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center ;
  width: 100%;
  min-height: 100vh;
  justify-content: space-evenly;

}
.input{
  background-color: blue;
  color: wheat;

}
.createPostForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button{
  background-color: blue;
  color: wheat;
  display: block;
  padding: 10px;
  margin: 30px;
  border-radius: 5px;
  border-width: 0px;

}
.filePreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.previews {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.previewWrapper {
  position: relative;
}
.previewImage, .previewVideo {
  max-width: 100%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
removeButton {
  position: absolute; /* 4. Position the remove button absolutely within the wrapper */
  top: 10px;
  right: 10px;
  background: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeButton:hover {
  background: rgba(255, 0, 0, 1);
}
.previewImage:hover, .previewVideo:hover {
  transform: scale(1.05);
  border-color: #4CAF50;
}