.searchResult{
  display: flex;
}
.link{
  text-decoration: none;
  color: white;
}

.SearchBox {
  z-index: 1;
  background-color: white;
  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-style: none;
  border-width: 0px;
  color: black;
}
